<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${deck.name}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/card.css}">
</head>
<body>

<div th:insert="~{fragments :: header}"></div>

<div class="container my-4">
<h1 th:text="${deck.name} + ' Cards'"></h1>

    <div class="d-flex flex-wrap justify-content-center">
        <!--    View Cards    -->
        <!--    Displays a list of cards in a deck showing all of the information for a card    -->

        <div th:each="card: ${cards}" class="p-2" >
            <div class="card-wrap" th:classappend="${deck.name == 'The Simpsons' ? ' simpson' :
                                                     deck.name == 'Harry Potter' ? ' hp' :
                                                     deck.name == 'Marvel' ? ' marvel' :
                                                     deck.name == 'Disney' ? ' disney' :
                                                     deck.name == 'Pop-culture' ? ' pop-culture' : ''}">
                <!--  Card name  -->
                <strong class="card-name" th:text="${#strings.toUpperCase(card.name)}"></strong>
                <div class="card-image-box">
                    <!--  Card image  -->
                    <img th:src="${card.imageSource}" alt="Card image" width="220"/>
                </div>
                <div class="card-text-box card-box-style">
                    <!--  Flavour text  -->
                    <span th:text="${card.flavourText}"></span>
                </div>

                <!--  Card Stats  -->
                <div class="stat-row">
                    <div class="stat-text-box card-box-style" th:classappend="${card.strength >= 90 ? ' card-box-rare' : ''}"><span> Strength:  <strong th:text="${card.strength}"></strong></span></div>
                    <div class="stat-text-box card-box-style" th:classappend="${card.wisdom >= 90 ? ' card-box-rare' : ''}"><span> Wisdom:  <strong th:text="${card.wisdom}"></strong></span></div>
                </div>
                <div class="stat-row">
                    <div class="stat-text-box card-box-style" th:classappend="${card.defence >= 90 ? ' card-box-rare' : ''}"> <span> Defence:  <strong th:text="${card.defence}"></strong></span></div>
                    <div class="stat-text-box card-box-style" th:classappend="${card.luck >= 90 ? ' card-box-rare' : ''}"><span> Luck:  <strong th:text="${card.luck}"></strong></span></div>
                </div>
                <!--  Populates unique stat name from deck table  -->
                <div class="unique-stat-box card-box-style text-nowrap" th:classappend="${card.customStat >= 90 ? ' card-box-rare' : ''}">
                    <span><span th:text="' ' + ${deck.uniqueStatName} + ': '"></span><strong th:text="${card.customStat}"></strong></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>