<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <header>
        <nav class="fixed-top">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">

                    <div class="navbar-logo">
                        <a href="/homepage" class="me-auto"><img src="/images/SA-Flare.png" alt="StatAttack Logo" height="90"></a>
                    </div>

                    <div class="nav-links align-items-center">
                        <a href="/game/new" th:href="@{/game/new}" class="me-5"><i class="bi bi-controller"></i> PLAY</a>
                        <a href="/decks" th:href="@{/decks}" class="ms-3 me-5"><i class="bi bi-view-stacked"></i> DECKS</a>
                        <a href="javascript:void(0)" onclick="openTuto()" class="ms-3"><i class="bi bi-journal-text"></i> TUTORIALS</a>
                        <a href="#" onclick="confirmLogout(event)" class="ms-3" th:if="${currentUser == null}">LOGOUT</a>
                    </div>

                    <li class="nav-links dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle me-2" th:src="@{${currentUser.imageSource}}" style="width: 40px; height: 40px; object-fit: cover;" >
                        </a>
                        <div class="dropdown-menu dropdown-menu-end navbar-dropdown" th:if="${currentUser != null}">
                            <div class="d-flex flex-column align-items-center">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" th:src="@{${currentUser.imageSource}}" style="width: 50px; height: 50px; object-fit: cover;">
                                </div>
                                <div class="text-center">
                                    <div class="text-truncate"><span th:text="@{${currentUser.username}}" ></span></div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center" href="/settings"><small><i class="bi bi-gear"></i> Settings</small></a>
                            <div class="dropdown-divider"></div>
                            <button class="btn-toggle dropdown-item text-center">Toggle Dark Mode</button>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center" href="#" onclick="confirmLogout(event)"><small class="text-danger"><i class="bi bi-box-arrow-left"></i> Logout</small></a>

                        </div>
                    </li>
                </div>
            </div>
        </nav>

        <script>
            function confirmLogout(event) {
                event.preventDefault();
                if (confirm("Are you sure you want to log out?")) {
                    window.location.href = "/logout";
                }
            }
        </script>

        <script>
            const btn = document.querySelector('.btn-toggle');

            if (localStorage.getItem('theme') === 'dark') {
              document.body.classList.add('dark-theme');
            }

            // Add event listener to toggle dark theme
            btn.addEventListener('click', () => {
              document.body.classList.toggle('dark-theme');

              // Save the theme preference to localStorage
              if (document.body.classList.contains('dark-theme')) {
                localStorage.setItem('theme', 'dark');
              } else {
                localStorage.setItem('theme', 'light');
              }
            });
        </script>
    </header>
    <style>
        body {
            padding-top: 90px;
        }

        .dropdown-toggle::after {
            border-top: .4em solid white !important;
            border-right: .4em solid transparent;
            border-bottom: 0;
            border-left: .4em solid transparent;
        }
    </style>
</div>
