<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header>
<!--        <div class="header-container">-->
<!--            <a class="stat-attack-logo" href="/homepage" th:href="@{/homepage}">-->
<!--                stat attack-->
<!--            </a>-->
<!--        </div>-->

        <nav>
            <div class="navbar-logo">
                <img src="/images/sa-flare.png" alt="StatAttack Logo" height="90" >
            </div>
            <div class="nav-links ms-3 me-auto">
                <a href="/game/new" th:href="@{/game/new}">PLAY</a>
                <a href="/decks" th:href="@{/decks}">DECKS</a>
                <a href="javascript:void(0)" onclick="openTuto()">TUTORIALS</a>
                <a href="/settings" th:href="@{/settings}">SETTINGS</a>
            </div>

            <div class="user-controls" th:if="${currentUser != null}">
                <div class="profile-container">
                    <div class="profile-image">
                        <img th:src="@{${currentUser.imageSource}}" alt="Profile" />
                    </div>
                    <span id="greeting" th:text="'Logged in as ' + ${currentUser.username}"></span>
                </div>
                <a href="#" onclick="confirmLogout(event)" class="logout-btn">Logout</a>
            </div>
        </nav>
        <script>
            function confirmLogout(event) {
                event.preventDefault();
                if (confirm("Are you sure you want to log out?")) {
                    window.location.href = "/logout";
                }
            }
        </script>
    </header>
</div>