body {
    text-align: center;
}

.all-decks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.deck img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.deck strong {
    color: rgb(68, 68, 68);
    text-decoration: none;
    word-wrap: break-word;
    width: 100%;
    font-size: 22px;
}

.deck {
    max-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1.5px solid #ccc;
}

.deck:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
    opacity: 0.8;
}