body {
    text-align: center;
    justify-content: center;
    color: rgb(59, 47, 93, .85);
    }



.all-decks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.deck img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

body.dark-theme .deck img {
    border-bottom: 1px solid #3a3a3a;
}

.deck strong {
    color: rgb(68, 68, 68);
    text-decoration: none;
    word-wrap: break-word;
    width: 100%;
    font-size: 22px;
    text-align: center;
}

.deck label {
    color: rgb(68, 68, 68);
    text-decoration: none;
    word-wrap: break-word;
    width: 250px;
    font-size: 22px;
    background: white;
}

body.dark-theme .deck label {
    color: #e7e7e7;
    background: #505050;
}

.deck {
    max-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1.5px solid #ccc;
}

body.dark-theme .deck {
    border: 1.5px solid #3a3a3a;
}

.deck:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
    opacity: 0.8;
}