<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon.ico">
    <style>
        body {
            text-align: center;
            justify-content: center;
        }
        </style>

</head>
<body>
    <!--Inserts header.html as a fragment-->
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="main-content">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>

        <div class="container mt-3">
            <div class="row justify-content-center">
            <div class="col-md-6 justify-content-center text-center">
                <form th:action="@{/settings}" th:object="${currentUser}" method="post" enctype="multipart/form-data">
                    <h1 class="text-center mt-3 text-nowrap">
                        Update your details:
                    </h1>
                    <div class="d-flex justify-content-center mt-4 mb-3">
                        <img class="rounded-square mb-2" th:src="@{${currentUser.imageSource}}">
                    </div>
                    <div class="mb-4">
                        <label th:for="imageSource" class="form-label"></label>Profile Picture:<br>
                        <input type="file" name="imageFile" class="form-control mt-2"/>
                    </div>
                    <div class="mb-3">
                        <label th:for="username" class="form-label">Username:</label>
                        <input type="text" th:field="*{username}" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label th:for="birthday" class="form-label">Birthday:</label>
                        <input type="date" th:field="*{birthday}" class="form-control" th:value="${#dates.format(currentUser.birthday, 'yyyy-MM-dd')}" max="2019-12-31"/>
                    </div>
                    <div class="d-flex justify-content-between">
                        <input type="submit" value="Submit" id="submit" class="btn btn-primary btn-sm w-50 me-2 mt-3"/>
                        <input type="reset" value="Reset" class="btn btn-outline-primary btn-sm w-50 mt-3"/>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>
    <div th:insert="~{fragments/tutorial :: tutorialModal}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>